# =====================
# PYTHON / DJANGO
# =====================
venv/
env/
__pycache__/
*.pyc
db.sqlite3
*.log

# =====================
# NODE / REACT
# =====================
node_modules/
build/
dist/

# =====================
# ENV FILES
# =====================
.env
.env.*

# =====================
# OS FILES
# =====================
.DS_Store
Thumbs.db

# =====================
# IDE
# =====================
.vscode/
.idea/